<% if @newproduct.errors.any? %>

	<ul>

	<% @newproduct.errors.full_messages.each do |error_msg| %>
	<li><%= error_msg %></li>
	<% end %>
	</ul>
<% end %>
<h3>Post new product</h3>
<%= form_for [@a_user, @newproduct] do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<%= f.label :deadline %>
	<%= f.date_field :deadline %>
	<br>
	<%= f.button %>
	<% end %>