<h3><%= @the_user.username %></h3>
<ul>
<% @products.each do |product| %>
	<li><%= product.title %>
	<% link_to 'Bid',  %>
		<ul>
		<li>Product description: <%= product.description %></li>
		<li>Bidding deadline: <%= product.deadline %></li>
		</ul>	
	</li>
	<% end %>
</ul>
<%= link_to 'Post new product', new_user_product_path(@the_user) %>